{% extends 'reservation/r_base.html' %}
{% block contents %}
<style>
* {
  box-sizing: border-box;
}

body {
  font: 16px Arial;
}

/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

</style>


<div class="container">
    <h5>[회의실 예약하기]</h5><br>

    <form method="post" id="form"> {% csrf_token %}
        <div class="form-group">
            <label for="room_name"><b>회의실 명</b></label>
            <select name="room_name" id="room_name">
                  <option selected value=""> ---- </option>
              {% for room in meetingroom %}
                  <option value="{{room.room_name}}">{{room.room_name}} (최대 {{room.max_number}}명)</option>
              {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="rez_date"><b>회의 날짜</b></label>
            <input type="date" name="rez_date" id="rez_date"
                   value="{{ form.subject.value|default_if_none:'' }}">
        </div>

        <input type="button" id="showDetail" class="btn btn-info" value="상세 내용 입력하기" style="margin:0px 0px 30px 0px;">
        <!-- 시간 데이터만 ajax로 구성하고 여기서부터 끝까지 div 로 묶어서 display 꺼두기 -->
        <div id="detail">
          <div class="form-group">
              <label for="str_time"><b>시작 시간</b></label>
                <select name="str_time" id="str_time">
                      <option selected value=""> --:-- </option>
                  {% for time in time_list%}
                      <option id="{{time.key}}" class="time" value="{{time.key}}">{{time.time}}</option>
                  {% endfor %}
                </select>
               ~
            <label for="end_time"><b>종료 시간</b></label>
                <select name="end_time" id="end_time">
                  <option selected value=""> --:-- </option>
                  {% for time in time_list %}
                      <option id="{{time.key}}e" class="time" value="{{time.key}}">{{time.time}}</option>
                  {% endfor %}
                </select>
          </div>

          <div class="form-group">
              <label for="organizer"><b>주최자</b></label>
              <input type="text" name="organizer" id="organizer"
                     value="{{ user.emp_hname }}">
              부서 : <input id="dept" type="text" value="{{user.dept_name}}"disabled>
          </div>

          <div class="form-group">
              <input type="hidden" name="maker" id="maker"
                     value="{{ user.emp_hname }}">
          </div>

          <div class="form-group">
              <label for="title"><b>회의 명</b></label>
              <img src="https://www.ti.com/content/dam/ticom/images/icons/illustrative-icons/resources/information-icon.png" width:=30 height=30
               title="최대 50자까지 입력 가능합니다.">
              <input type="text" class="form-control" name="title" id="title"
                     value="{{ form.subject.value|default_if_none:'' }}">
          </div>

          <div class="form-group">
              <label for="comments"><b>회의 주요 안건</b></label>
              <img src="https://www.ti.com/content/dam/ticom/images/icons/illustrative-icons/resources/information-icon.png" width:=30 height=30
               title="최대 1,000자까지 입력 가능합니다.">
              <textarea class="form-control" name="comments" id="comments" rows="8"
                     value="{{ form.subject.value|default_if_none:'' }}" maxlength="1000"></textarea>
          </div>


          <!-- 검색창처럼 ajax로 구현하기 -->
          <div class="form-group">
              <label for="search"><b>참석자 검색</b></label>
              <div class="autocomplete" style="width:300px;">
                <input id="search" type="text" autocomplete='off' placeholder="이름을 검색해주세요.">
                <button type="button" id="insertAttendee">참석자 등록</button>
              </div>
              <div id="result">
              </div>
              <br>
              <input type="text" class="att" name="attendee_1" id="attendee_1" value="" readonly style="margin:0px 0px 10px 0px;">
              <input type="text" class="att" name="attendee_2" id="attendee_2" value="" readonly>
              <input type="text" class="att" name="attendee_3" id="attendee_3" value="" readonly>
              <input type="text" class="att" name="attendee_4" id="attendee_4" value="" readonly>
              <input type="text" class="att" name="attendee_5" id="attendee_5" value="" readonly>
              <br/>
              <input type="text" class="att" name="attendee_6" id="attendee_6" value="" readonly>
              <input type="text" class="att" name="attendee_7" id="attendee_7" value="" readonly>
              <input type="text" class="att" name="attendee_8" id="attendee_8" value="" readonly>
              <input type="text" class="att" name="attendee_9" id="attendee_9" value="" readonly>
              <input type="text" class="att" name="attendee_10" id="attendee_10" value="" readonly>
              <p>등록된 참석자의 이름을 누르면 참석자를 삭제할 수 있습니다.</p>
          </div>

          <p id="error" style="color:red;"></p>
          <button type="button" id="btn" class="btn btn-info">예약하기</button>
        </div>
    </form>

    <input type='hidden' id="time" value="{{time}}">
    <input type='hidden' id="room" value="{{room}}">
    <input type='hidden' id="sysdate2" value="{{sysdate2}}">
</div>

<footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


  <script>
  var room = $("#room").val()
  var time = Number($("#time").val())
  var end_time = time + 2
  var sysdate2 = $("#sysdate2").val()
  $("#str_time").val(time).prop("selected", true);
  $("#end_time").val(end_time).prop("selected", true);
  $("#room_name").val(room).prop("selected", true);
  $("#rez_date").val(sysdate2).prop("selected", true);


  // addEventListener('beforeunload', onbeforeunload);
  // function onbeforeunload(e) {
  //     e.returnValue = "false";
  // };




  // 전체 유효성 검사.. 사실 form.py 쓰면 필요 없는데 참석자 입력 불가 및 기타 등등 다른 여건 때문에 일단 js로 구분
  $("#btn").on("click", function(){
    var checkform = ['str_time','end_time','organizer','title','comments','attendee_1']
    var label = ['시작 시간', '종료 시간', '주최자', '회의 명', '회의 주요 안건', '참석자']
    var str_time = $("#str_time").val()
    str_time = parseInt(str_time)
    var end_time = $("#end_time").val()
    end_time = parseInt(end_time)
    var organizer = $("#organizer").val()
    var title = $("#comments").val()
    var attendee_1 = $("#attendee_1").val()
    var room_name = $("#room_name").val()
    var rez_date = $("#rez_date").val()

    for(var i=0; i<checkform.length; i++){
      if($("#"+checkform[i]).val() == ""){
        var msg = '<b>'+label[i]+'을(를) 입력해 주세요.</b>'
        $("#error").html(msg)
        break;
      }
    }
    if(str_time != "" && end_time != "" && organizer != "" && title != "" && attendee_1 != ""){
      if(str_time >= end_time){
        var msg = '<b>종료시간이 시작 시간보다 빠를 수 없습니다. 다시 설정해 주세요.</b>'
        $("#error").html(msg)
      }else{
        {% for rez in rezlist %}
        if( str_time < Number('{{rez.time}}') && Number('{{rez.time}}') < end_time && rez_date == '{{rez.rez_date}}' && room_name == '{{rez.room_name}}'){
          var msg = "<b> 선택한 시간에 " + room_name + "에서 이미 예약된 회의가 있습니다."
          return $("#error").html(msg)

        }
        {% endfor %}
        end_time = String(end_time)
        str_time = String(str_time)
        $("#error").html("")
        $("#form").submit();
      }
    }
  })


  // 날짜, 회의실명 유효성 검사
    $("#showDetail").on("click", function(){
      var room_name = $("#room_name option:selected").val();
      var rez_date = $("#rez_date").val();
      var sysdate = "{{sysdate}}"
      // 예약된 시간의 색깔을 바꿔주는 ajax
      if( rez_date < sysdate ){
        alert("이미 지난 일정 입니다.")
      }
      else if( room_name != '' && rez_date != ''){
        $.ajax({
                url :'timecheck/',
                data : {'room_name' : room_name,
                        'rez_date' : rez_date},
                dataType : "json",
                success : function(timeinfo){
                  if(timeinfo.length > 0){
                    for(var i=0; i<timeinfo.length; i++){
                      var time = timeinfo[i].time
                      if(time == $("#"+time).val()){
                        $("#"+time).css("color","silver");
                        $("#"+time+"e").css("color","silver");
                      }
                    }
                  } else {
                    $(".time").css("color","black");
                  }
                },
                error : function(){
			           alert("시간설정 오류발생");
               }
        });
        // 상세 내용 표기
        $("#detail").show();
      } else {
        alert("회의실과 날짜를 선택해 주세요.")
        $("#detail").hide();
      };
    });


  //회의실, 날짜 클릭 시 상세보기 숨겨짐
  $("#rez_date").on("click", function(){
    $("#detail").hide();
  });
  $("#room_name").on("click", function(){
    $("#detail").hide();
  });


  $("#end_time").focus(function(){
    setTimeout("window.self.focus();", 1000 );

    prev_val = $(this).val();
  }).change(function(){
      var strTime = $("#str_time option:selected").val();
      var endTime = $("#end_time option:selected").val();
      strTime = Number(strTime)
      endTime = Number(endTime)
      if(strTime == 0 || endTime == 0){

      }
      else if(strTime >= endTime){
        alert("회의 종료 시간은 시작 시간보다 빠를 수 없습니다.")
        $(this).blur();
        $(this).val(prev_val);
        return false;
      }
  });

  // 시작시간 < 종료시간 이어야함
  $("#str_time").change(function(){
      var strTime = $("#str_time option:selected").val();
      var endTime = $("#end_time option:selected").val();
      strTime = Number(strTime)
      endTime = Number(endTime)
      $("#end_time").val(strTime + 2)
      if(strTime == 0 || endTime == 0){

      }
      else if(strTime > endTime){
        alert("회의 종료 시간은 시작 시간보다 빠를 수 없습니다.")
      }

  });

  // attendee에 참석자 이름 넣기
  function insertAttendee(words){
    for(var i=1; i<=10; i++){
      if($("#attendee_"+i).val() == words){   //attendee가 비었으면 입력값 넣고 함수 종료
        alert("이미 등록된 참석자 입니다.")
        break;
      } else if ($("#attendee_"+i).val() == ""){
        $("#attendee_"+i).val(words)
        $("#search").val("")
        $("#search").focus();
        break;
      }
    };
  }


  //주최자 부서변경 ajax
  $("#organizer").keyup(function(){
    var words = $("#organizer").val();
    if(words != ''){
      $("#dept").val("");
      $.ajax({
        url : 'search/',
        data : { 'words': words },
        dataType : "json",
        success : function(user){
          if( user.length > 0 ){
            var str=''
            for( var i=0; i<user.length; i++){
              str += user[i].dept
            }
            $("#dept").val(str);
          } else { $("#dept").val(" ") }
        },
        error : function(){
          alert("이름검색 오류발생"); // AJAX 통신 오류
        }
      });
    };
  });

  // 참석자 목록 보여주기
  $("#insertAttendee").on("click", function(){
    var words = $("#search").val();
    if(words != ''){
      $.ajax({
        url : 'usercheck/',
        data : { 'words': words },
        dataType : "json",
        success : function(user){
          if ($("#attendee_1").val() != "" && $("#attendee_2").val() != "" && $("#attendee_3").val() != "" && $("#attendee_4").val() != "" &&  $("#attendee_5").val() != "" &&
              $("#attendee_6").val() != "" && $("#attendee_7").val() != "" && $("#attendee_8").val() != "" && $("#attendee_9").val() != "" && $("#attendee_10").val() != ""){ //마지막 참석자가 공란일 때만 참석자 등록, 추후에 10에서 회의실별 인원으로 변경 예정
            alert("더 이상 참석자를 등록할 수 없습니다.") // 참석자 자리를 다 차지한 경우
          } else {
            if( user.length > 0){
              var name = user[0].name
              var dept = user[0].dept
              var words = name + "/" + dept
              insertAttendee(words)
            } else {
              alert("사용자 목록에 존재하지 않는 인원입니다.\n외부인이라면 외부인 등록을 먼저 해주세요.") // USER VIEW 에 이름이 없는 경우
            }
          }
        },
        error : function(){
          alert("참석자 등록 오류 발생") // AJAX 통신 오류
        }
      });
    };
  })


  $(".att").on("click", function(){
    if($(this).val() != ""){
      var attendeeConfirrm = confirm('참석자를 삭제하시겠습니까 ?')
      if(attendeeConfirrm){
        $(this).val("")
      };
    };
  })



  //참석자 검색 자동 완성
  function autocomplete(inp, arr) {
    var currentFocus;
    inp.addEventListener("input", function(e) {
        var a, b, i, val = this.value;
        closeAllLists();
        if (!val) { return false;}
        currentFocus = -1;
        a = document.createElement("div");
        a.setAttribute("id", this.id + "autocomplete-list");
        a.setAttribute("class", "autocomplete-items");
        this.parentNode.appendChild(a);
        for (i = 0; i < arr.length; i++) {
          if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
            b = document.createElement("DIV");
            b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
            b.innerHTML += arr[i].substr(val.length);
            b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
            b.addEventListener("click", function(e) {
                inp.value = this.getElementsByTagName("input")[0].value;
                closeAllLists();
            });
            a.appendChild(b);
          }
        }
    });
    inp.addEventListener("keydown", function(e) {
        var x = document.getElementById(this.id + "autocomplete-list");
        if (x) x = x.getElementsByTagName("div");
        if (e.keyCode == 40) {
          currentFocus++;
          addActive(x);
        } else if (e.keyCode == 38) {
          currentFocus--;
          addActive(x);
        } else if (e.keyCode == 13) {
          e.preventDefault();
          if (currentFocus > -1) {
            if (x) x[currentFocus].click();
          }
        }
    });
    function addActive(x) {
      if (!x) return false;
      removeActive(x);
      if (currentFocus >= x.length) currentFocus = 0;
      if (currentFocus < 0) currentFocus = (x.length - 1);
      x[currentFocus].classList.add("autocomplete-active");
    }
    function removeActive(x) {
      for (var i = 0; i < x.length; i++) {
        x[i].classList.remove("autocomplete-active");
      }
    }
    function closeAllLists(elmnt) {
      var x = document.getElementsByClassName("autocomplete-items");
      for (var i = 0; i < x.length; i++) {
        if (elmnt != x[i] && elmnt != inp) {
          x[i].parentNode.removeChild(x[i]);
        }
      }
    }
    document.addEventListener("click", function (e) {
        closeAllLists(e.target);
    });
  }

  var users = []
  {% for user in userList %}
    users.push("{{user.name}}")
  {% endfor %}
  autocomplete(document.getElementById("search"), users);
  </script>
</footer>
{% endblock %}
